.top-mangas__container {
  position: relative;
}

.swiper {
  position: absolute !important;
  width: 100%;
}

.swiper-slide {
  width: 158px !important;
}

.new-updates__container {
  margin-top: 275px;
}
