.list-manga-item {
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: repeat(auto-fit, 158px);
  gap: 16px;
  justify-content: center;
}

.swiper {
  margin-left: 12px !important;
}

@media (max-width: 300px) {
  .swiper {
    margin-left: 8px !important;
  }
}
