.column-item {
  display: flex;
}

.main-container {
  min-height: 80vh;
  padding: 12px;
}

.column-item__sidebar-one,
.column-item__sidebar-two {
  flex: 1;
  display: block;
}

.column-item__main-column {
  flex: 3;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .column-item__sidebar-one,
  .column-item__sidebar-two {
    display: none;
  }

  .column-item__main-column {
    border-radius: 0px;
    flex: 2;
  }
}