body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 1;
}

.main__container {
  flex: 3;
}

.sidebar__container {
  background-color: #eee;
}

.main-content {
  padding: 0px 12px 24px;
  min-height: 80vh;
}

@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }

  .main__container {
    flex: 1;
  }
}

.dark-mode {
  background-color: #1a1a1a;
  color: white;
}

.dark-mode .sidebar__container {
  background-color: #1a1a1a;
}
