body {
  background-color: white;
  color:  black;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #1a1a1a;
  color: white;
}

.column-item {
  display: flex;
}

.main-container {
  min-height: 80vh;
  padding: 12px;
}

.column-item__sidebar-one,
.column-item__sidebar-two {
  flex: 1;
  display: block;
}

.column-item__main-column {
  flex: 2;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .column-item__sidebar-one,
  .column-item__sidebar-two {
    display: none;
  }
  
  .column-item__main-column {
    border-radius: 0px;
    flex: 2;
  }
}

.sidebar {
  background-color: #ebebeb;
}

.dark-mode .sidebar {
  background-color: #1a1a1a;
}

.function-bar {
  display: flex;
  justify-content: flex-end;
}

.dark-mode-toggle {
  font-size: 24px;
  cursor: pointer;
  padding: 8px 8px 4px 8px;
}

.up-button button {
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 1000;
  background-color: black;
  opacity: 80%;
  color: white;
  padding: 8px 8px 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
}

.up-button button:hover {
  filter: brightness(80%);
}