.manga-page {
  padding: 24px 12px;
}

.manga-page__btn-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 8px 0px 4px;
  justify-content: flex-start;
}

@media (max-width: 600px) {
  .manga-page__btn-group {
    justify-content: center;
    margin-left: 0px;
  }
}
