.manga-box__container {
  width: 158px;
  text-align: center;
}

.manga-box__container img {
  width: 158px;
  height: 216px;
  border-radius: 4px;
}

.manga-box__container a {
  display: flex;
  flex-direction: column;
  width: 158px;

  text-decoration: none;
  color: black;
  font-weight: 500;
}

.manga-box__container a:hover {
  color: orange;
}

.dark-mode .manga-box__container a:hover {
  color: orange;
}

.dark-mode .manga-box__container a {
  color: white;
}

.manga-box__container a span {
  width: 158px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.manga-box__chapters a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  font-weight: 400;
  margin: 4px 0px;
  color: black;
}

.chapter-time span {
  font-style: italic;
  color: darkgrey;
}

.dark-mode .chapter-number span,
.dark-mode .chapter-time span {
  color: #ddd;
}

.chapter-number span:hover {
  color: orange;
}

.dark-mode .chapter-number span:hover {
  color: orange;
}
