.header {
  display: flex;
  flex-direction: column;
}

.top-header {
  background-color: #343a40;
  display: flex;
}

.nav-bar {
  background-color: #495057;
}

@media (max-width: 600px) {
  .nav-bar {
    display: none;
  }
}
