.modal-box {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-form {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.modal-header {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.modal-header span {
  font-size: 24px;
  font-weight: 600;
}

.modal-form .avatar {
  width: 9rem;
  height: 9rem;
  border-radius: 6px;
}

.modal-form__input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* width: 100%; */
}

.modal-form input {
  min-width: 400px;
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  font-size: 16px;
  box-sizing: border-box;
}

.modal-form textarea {
  padding: 10px 12px;
  width: 100%;
  resize: none;
  height: 120px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.modal-button {
  width: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.modal-button button {
  padding: 8px 12px;
  border: none;
  background-color: rgb(174, 60, 223);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
}

.accept-button {
  background-color: green !important;
}

.delete-button {
  background-color: red !important;
}

.cancel-button {
  background-color: rgb(174, 60, 223) !important;
}

.accept-button:hover,
.cancel-button:hover,
.delete-button:hover {
  filter: brightness(80%);
}

.change-image-btn {
  border: none;
  padding: 8px 16px;
  background-color: #3b82f6;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 300ms;
  margin-bottom: 8px;
  cursor: pointer;
}

.change-image-btn:hover {
  background-color: #2563eb; /* hover:bg-blue-600 */
}
