.buttons-section {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 4px;
  /* margin-top: 4px; */
}

.function-button {
  display: flex;
  align-items: center;
  padding: 8px 10px 8px 6px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.add-button {
  background-color: #007bff;
}

.add-button:hover {
  filter: brightness(85%);
}

.add-button-icon {
  font-size: 24px;
  margin-right: 5px;
}

.delete-all-button {
  background-color: #d9534f;
}

.delete-all-button:hover {
  filter: brightness(85%);
}

.list-genres {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 12px;
}

.genre-table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 4px;
  overflow: hidden;
}

.genre-table th,
.genre-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 16px;
}

.genre-table th:nth-child(2), /* Genre Name Column */
.genre-table td:nth-child(2) {
  width: 200px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.genre-table th {
  background-color: #f4f4f4;
}

.genre-row td {
  text-align: left;
}

.action-buttons {
  display: flex;
  justify-content: flex-start;
}

.edit-button,
.delete-button,
.finish-button {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  gap: 5px;
}

.edit-button {
  background-color: #bfb417;
  color: white;
  margin-right: 5px;
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.finish-button {
  background-color: #28a745;
  color: white;
}

.edit-button:hover,
.delete-button:hover,
.finish-button:hover {
  filter: brightness(80%);
}

.edit-input {
  border: 1px solid #ddd;
  padding: 6px;
  font-size: 16px;
  border-radius: 4px;
  width: 150px;
}
