.page__function {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.page__function button {
  display: flex;
  align-items: center;
  padding: 8px 10px 8px 6px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.add-button {
  background-color: #007bff;
}

.add-button {
}
