.list-manga-item {
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: repeat(auto-fit, 158px);
  gap: 24px;
  justify-content: center;
}

.swiper-container {
  width: 950px;
  z-index: 1;
} 

@media screen and (max-width: 1024px){
  .swiper-container {
    width: 850px;
  }
}

@media screen and (max-width: 900px){
  .swiper-container {
    width: 700px;
  }  
}

@media screen and (max-width: 700px){
  .swiper-container {
    width: 350px;
  }  
}

.swiper-slide {
  width: 158px !important;
}
